:root {
   padding: 3% 30%;
   box-sizing: border-box;
   font-size: 1.5rem;
   background-color: rgb(145, 236, 197);
}

  .remove {
    border: none;
    color: rgb(238, 131, 131);
    font-size: 1.5rem;
    font-size: 1.5rem;
    background-color: rgb(145, 236, 197);
    text-align: right;
  }

  .remove:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  
  th, td {
    padding: 10px 20px;
  }

  td {
    text-align: center;
  }

  th {
    text-indent: 0;
  }

  button, input[type='submit'] {
    border-radius: 3px;
    font-size: .8rem;
    background-color: rgb(149, 219, 241);
    height: 2rem;
    width: 4rem;
  }

  .new {
    height: 2rem;
    width: 5rem;
    margin-left: 200px;
  }

  form {
    margin-left: 80px;
  }

  input {
    height: 1rem;
    font-size: .7rem;
  }

  .radio {
    display: grid;
    grid-template-columns: min-content min-content;
  }
